CompileFlags:
  Compiler: /opt/homebrew/bin/g++-15
  Add: [-std=c++20, -Isrc, -Iunit_test/files, -Wall, -Wextra, -Wpedantic, -Wshadow, -Wconversion, -Wsign-conversion, -Wformat=2, -Wfloat-equal, -Wcast-qual, -D_GLIBCXX_DEBUG, -D_GLIBCXX_DEBUG_PEDANTIC]
