test/unit_test/cbp.depend
test/unit_test/cbp.layout
test/unit_test/obj/
test/unit_test/bin/
test/unit_test/*.depend
test/unit_test/*.layout

*.pyx
*/*.pyc
__pycache__
geckodriver.log

codeforces_temp/

codeforces_tests/*
!codeforces_tests/*.cpp

test/instance/secret.py

venv/
