mytl3_cbp/cbp.depend
mytl3_cbp/cbp.layout
mytl3_cbp/obj/
mytl3_cbp/bin/


*.pyx
*/*.pyc
__pycache__
geckodriver.log

codeforces_temp/

codeforces_tests/*
!codeforces_tests/*.cpp

instance/secret.py

venv/
